/* CSS Document */
/* CSS RESET */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #e4f2ea;
}

header {
	min-height: 300px;
	background-image: url("../images/beaglesJuniors/images/home_beagle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 23% 23%;
}

header h1 {
	margin-left: 35%;
	color: #734f2f;
	font-weight: bold;
	font-size: 7em;
}

header h3 {
	margin-left: 45%;
	color: #11181e;
	font-size: 3em;
}

.hnav {
	padding: 5px 0;
	width: 100%;
	background-color: #11181e;
	min-height: 50px;
}

.hnav ul {
	display: block;
	text-align: center;
}
.hnav ul li {
	display: inline-block;
	list-style: none;
	width: 15%;
	background-color: #11181e;
	margin-top: .8%;
}

.hnav a {
	color: #e4f2ea;
	text-decoration: none;
	font-size: 1.5em;
}

.hnav ul li:hover {
	background-color: #734f2f;
}

h1 {
	font-weight: bold;
	font-size: 1.5em;
}

main {
	width: 100%;
	min-height: 500px;
}

#container {
	padding: 3% 0;
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
	font-size: 1.8em;
	color: #734f2f;
}
#container img {
	margin: 0 auto;
	float: left;
	padding-right: 2%;
	max-width: 600px;
	max-height: 500px;
}

h2 {
	font-weight: bold;
	font-size: 1.5em;
}

.beagleStanding {
	max-width: 600px;
	max-height: 500px;
}

.beagleBiting {
	max-width: 500px;
	max-height: 500px;
}

blockquote {
	
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 1em;
    border-color: #734f2f;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

input {
    height: 2em;
    width: 17em;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1em;
    font-weight: bold;
    background-color: #734f2f;
    color: aliceblue;
    border: 5px double black;
}

.frmButton {
	width: 10em;
}

.frmButton:active {
	background-color: #11181e;
}

footer {
	
}

.fnav {
	padding: 5px 0;
	width: 100%;
	background-color: #11181e;
	min-height: 50px;
}

.fnav ul {
	display: block;
	text-align: center;
}
.fnav ul li {
	display: inline-block;
	list-style: none;
	width: 15%;
	background-color: #11181e;
	margin-top: .8%;
}

.fnav a {
	color: #e4f2ea;
	text-decoration: none;
	font-size: 1.5em;
}

.fnav ul li:hover {
	background-color: #734f2f;
}

footer h4, footer h5, footer h6 {
	text-align: center;
}